.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.skill-set {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
  grid-auto-rows: auto;
  width: 100%;
  gap: 0.5rem;
  margin: 0 auto;
}
.skills-title {
  display: flex;
  justify-content: center;
  width: 100%;
}
.skill-set h4 {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  gap: 12px;
  border-radius: 0.5rem;
  padding: 12px;
  background-color: var(--clr-bg);
  box-shadow: var(--shadow-lg);
  & div {
    display: inline-flex;
    align-items: center;
  }
}
.progress-bar {
  display: inline-flex;
  width: 320px;
  height: 20px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  gap: 8px;
}
.progress-fill {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.5s ease;
}
@media (max-width: 1080px) {
  .skill-set {
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 0.3rem;
  }
  .skill-set h4 {
    border-radius: 0.5rem;
    padding: 10px;
  }
  .progress-bar {
    height: 12px;
  }
}
@media (max-width: 768px) {
  .skill-set {
    grid-template-columns: repeat(auto-fit, minmax(180px, 2fr));
    gap: 0.3rem;
  }
  .skill-set h4 {
    gap: 8px;
    border-radius: 0.5rem;
    padding: 8px;
  }
}
